* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-image: linear-gradient(transparent, black);
}

img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    transform: scale(1.3);
    filter: blur(20px);
}

#container {
    position: relative;
    transition: 1000ms;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    background: url(bridge.gif) no-repeat right/cover;
    
    clip-path: inset(0px 0px 500px 500px round 25px);
    animation: inset 7s alternate infinite;
    
    /*clip-path: circle(15% at 85% 15%);
    animation: circle 7s alternate infinite;*/
    
    /*clip-path: ellipse(15% 30% at 85% 15%); 
    animation: ellipse 7s alternate infinite;*/
}

#container:hover {
    animation-play-state: paused;
}

@keyframes inset {
    0% {
       clip-path: inset(0px 0px 500px 500px round 25px); 
    }

    20% {
       clip-path: inset(500px 0px 0px 500px round 25px);  
    }

    40% {
       clip-path: inset(500px 500px 0px 0px round 25px);   
    }

    60% {
       clip-path: inset(0px 500px 500px 0px round 25px);  
    }
    
    80% {
        clip-path: inset(250px 250px 250px 250px round 25px);  
    }

    100% {
        clip-path: inset(0px);
    }
}

@keyframes circle {
    0% {
        clip-path: circle(15% at 85% 15%);    
    }

    20% {
        clip-path: circle(15% at 85% 85%);    
    }

    40% {
        clip-path: circle(15% at 15% 85%);    
    }

    60% {
        clip-path: circle(15% at 15% 15%);    
    }

    80% {
        clip-path: circle(15%);    
    }

    100% {
        clip-path: circle(100%);    
    }
}

@keyframes ellipse {
    0% {
        clip-path: ellipse(10% 15% at 85% 15%);    
    }

    20% {
        clip-path: ellipse(10% 15% at 85% 85%);    
    }

    40% {
        clip-path: ellipse(10% 15% at 15% 85%);    
    }

    60% {
        clip-path: ellipse(10% 15% at 15% 15%);    
    }

    80% {
        clip-path: ellipse(10% 15%);    
    }

    100% {
        clip-path: ellipse(80% 80%);    
    }
}

