@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.snip1566 {
	font-size: 16px;
    position: relative;
    display: inline-block;
    margin: 20px;
    box-shadow: none !important;
    
}

.snip1566 *,
.snip1566:before,
.snip1566:after {
    box-sizing: border-box;
    transition: all 0.3s linear;
}

.snip1566:before,
.snip1566:after {
    content: '';
    box-sizing: border-box;
    
}

.snip1566 img {
    
}

.snip1566 figcaption {
    
    
}

.snip1566 i {
    
}

.snip1566 a {
    
}

.snip1566:hover figcaption,
.snip1566.hover figcaption {
    
}

.snip1566:hover:before,
.snip1566.hover:before,
.snip1566:hover:after,
.snip1566.hover:after {
    
}

.snip1566:hover:before,
.snip1566.hover:before {
    
}

.snip1566:hover:after,
.snip1566.hover:after {
    
}

/* Demo purposes only */
body {
    background-color: #212121;
    text-align: center;
}
