body {
  font-family: 'Arial';
}

.contain {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.range {
  padding-top: 2em;
  margin-bottom: 2em;
}
.range label {
  display: block;
  margin-bottom: 10px;
}

/* Sass function credit:
https://css-tricks.com/snippets/sass/px-to-em-functions/ */
/*********************************/
/*** Demo Code ***/
/*********************************/
.sprites__item {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/182774/icons.png) no-repeat;
  background-size: auto 95%;
}
.sprites__item.twitter {
  background-position: -2.6875em 0;
}
.sprites__item.linkedin {
  background-position: -5.625em 0;
}
.sprites__item.google {
  background-position: -8.5625em 0;
}
