* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  overflow: hidden;
  background-color: #1b1b1b;
}

h1 {
  max-width: 600px;
}

.lineParent {
  overflow: hidden;
}