body {
  background-color: #F5F5F5;
  color: #555;
  font-size: 1.1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

section h2 {
	margin: 50px 0 0 !important;
}

h2 {
	margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  
}

.item {
  
}

.item:nth-child(n+2) {
  
}

.header {
	background: url(http://tympanus.net/codrops-playground/assets/images/cssref/properties/background-clip/polygon1.jpg) #333;
}

.stats {
	box-shadow: 0 1px 1px rgba(51, 51, 51, 0.2);
}

nav {
  
}

nav a {
	transition: all .3s ease-out;
	
}

nav a:hover {
  
}

nav a span {
  
}

.side-1 {
  
}

.side-1 .pro {
  
}

.side-1 section {
  
}

section p {
	font-size: .9em;
}

section .btn {
  
}

.main,
.side-2 {
  
}

.main h2,
.side-2 h2 {
  
}

.btn {
	font-weight: 900;
	
}

/****toogle control****/
input#check {
  
}

label.btn-toggle {
  
}

label.btn-toggle:active {
	opacity: 0.7;
}

input#check:checked ~ nav a:nth-child(n+2) {
  
}

@media screen and (max-width: 1080px) {
  body {
    
  }

  main {
    
  }

  .item:not(header) {
    margin: 0 0 15px 0;
      box-shadow: 0 1px 1px rgba(51, 51, 51, 0.53);
  }

  header,
  .side-1 {
    
  }

  .side-1,
  .side-1 .pro,
  .side-1 section {
    
  }

  section .btn {
    
  }

  .side-1 {
    
  }

  .side-1 .pro {
    
  }

  .side-1 section {
    
  }

  .main,
  .side-2 {
    
  }

  .stats {
		padding: 0 20px;
  }

  nav a {
    
  }
}

@media screen and (max-width: 768px) {
	
  nav {
    
  }

  nav .btn {
    
  }

  nav a {
    
  }

  nav a:nth-child(n+2) {
    
  }

  .stats {
	padding: 0 15px 0 10px;
    margin-bottom: 30px;
  }

  label.btn-toggle {
    
  }
}


@media screen and (max-width: 480px) {
  .header {
    
  }

  .side-1 {
    
  }

  .side-1 .pro {
    
  }

  section {
    
  }

}

