.wrapper {
    max-width: 1000px;
    margin: 1rem auto;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    text-align: center;
  }
  
  .wrapper h2 {
    font-weight: bold;
    
    font-size: clamp(28px, (0.5rem + 5vw), 48px);
  }
  
  body {
    font-family: "Arial";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    box-sizing: border-box;
  }
  
  strong {
    font-weight: bold;
  }
  



