html, body {
	height:100%;
}

body {
	overflow:hidden;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}

.circle {
	width:15vw;
	height:15vw;
	border-radius:50%;
	background:red;
}

.blue {
	background-color:blue;
}

.red{
	background-color:red;
}