body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #E1F5FE;
}

.banner {
	background:white;
	position:relative;
	width:300px;
	height:250px;
	border:1px solid #aaa;
	display:flex;
	align-items:center;
	justify-content:center;
  background-image: url("maldives.webp");
	background-size:cover;
}

.cta {
	cursor: pointer;
	position: absolute;
	bottom: 10px;
	right: 10px;
	border: none;
	border-radius: 12px;
	background-color: #43A047;
	color: white;
	padding: 18px;
	font-size: 20px;

	/* remove scale and will-change at demo start */
	
}

h2 {
	font-weight:800;
	text-align:center;
	color:white;
	font-family:sans-serif;
	font-size:30px;
	text-shadow:1px 1px 3px #333;
}

h2 span {
	font-size: 40px;
}
