body {
	height: 400vh;
  background: grey;
  color: white;
}

.ball01 {
  
}

.line {
  stroke: black
}





/* START

body {
	height: 400vh;
  background: grey;
  color: white;
}

.ball01 {
  
}

.line {
  stroke: black
}

*/

/* COMPLETE

body {
	height: 400vh;
  background: grey;
  color: white;
}

 .header-section {
  margin: 100px auto 0;
}

svg {
  max-width: 600px;
  overflow: visible;
  margin-top: 60vh;
}

.ball {
  fill: white;
  visibility: hidden;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

text {
  fill: white;
  font-size: 15px;
  font-family: "Signika Negative", sans-serif; 
  visibility: hidden;
} 

*/


