@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
@import url(http://weloveiconfonts.com/api/?family=entypo);

*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {margin:0;padding:0;border: 0 none;position: relative;}

[class*="entypo-"]::before {
	
}

h2::after {
	
}

html {
  
}

body {
  
}

article {
  
}

article::before {
  
}


h1 {
  
}

h2 {
  
}

form {
  
}

form [class*="entypo-"]:last-child::before {
	
}

form::after {
  
}

form span {
  
}

input[type='text'] {
  
}

ul {
  
}

li {
  
}

li::before {
	
}

a {
  
}

.notice {
	
}

.notice h2 {
  
}

.notice form {
  
}

/*
svg {
  height:0;
  width: 0;
  position: absolute;
}
*/
.aviso {
  
}

.aviso a {
  
}