* {
    box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
    min-width: 320px;
    overflow-x: hidden;
    padding: 0;
}

html:before {
    background: 
        url(images/tree.png) bottom right no-repeat,
        linear-gradient(to bottom, rgba(121,154,156,1) 0%, rgba(82,97,121,1) 100%);
		
}

main {
    
}

main:before {
    
}

.content {
    position: relative;
}

.content h1 {
    display: inline-block;
    font-size: 1.375em;
    letter-spacing: 1.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-top: 8.5em;
    position: relative;
    text-transform: uppercase;
}

.content h1:before {
    position: absolute;
    content: "";
    height: 2px;
    right: 1.3em;
    bottom: 0;
    left: 0;
    background: currentColor;
    opacity: 0.5;
}

.content p {
    font-size: 0.875em;
    line-height: 1.75;
    margin-bottom: 1.5em;
}

.first {
    margin-top: 5.6875em;
}

.content--primary {
    color: rgb(113, 149, 155);
    
}

.content--secondary {
    
}

.shape--bear {
    

    /* see the shape */
    /* background-color: red;
    clip-path: polygon(-37.6% 9.25%, -8.25% 11.2%, 12.8% 5.3%, 34.6% 10.25%, 37.6% 24.75%, 57.9% 34.3%, 69.15% 46.55%, 90.25% 51.5%, 87.95% 59.4%, 72.2% 71.95%, 39.1% 73.25%, -4.5% 80.85%, -81.2% 98.35%, -81.2% 0%, -55.65% -0.65%); */
}

.shape--y1 {
    /* height of y.png and half the width */
    
    /* see the shape */
    /* background-color: red;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 59.5% 100%, 59.5% 97.5%, 77% 97%, 84% 94%, 87% 89%, 87% 61%, 23% 12%, 9% 8%, 0% 7%); */
}

.shape--y2 {
    /* height of y.png and half the width */
    
    /* see the shape */
    
    /*background-color: red;
    clip-path: polygon(0% 0%, 100% 0%, 100.3% 7.15%, 86% 8.6%, 72% 13.15%, 61.9% 20.15%, 9.5% 59.35%, 10.4% 90.7%, 14% 95.15%, 22% 97.15%, 37.8% 97.4%, 37.8% 100.15%, 0% 100%);*/
    
}

@media (min-width: 1500px) {  
    html {
        font-size: 135%;
    }
}

@media (max-width: 1200px) {
    .content h1 {
        padding-top: 0;
    }
}

@media (max-width: 1000px) {
    html:before {
        
    }

    main {
        
    }

    main:before {
        
        
        /* why not use the same img as the bg? */
        
    }

    .content h1 {
        padding-top: 2em;
    }

    .first {
        margin-top: 0;
    }

    .content--primary,
    .content--secondary {
        
    }

    .content--primary {
        padding-bottom: 1em;
    }

    .content--secondary {
        
    }

    .shape--y1,
    .shape--y2 {
        
    }

    .shape--bear {
        margin-left: -2em;
    }
}

@media (max-width: 600px) {
    main:before {
        
        
        /* why not use the same img as the bg? */
        
    }

    .content h1 {
        font-size: 1.2em;
        margin-top: 0;
        padding-top: 0;
    }
}

