/*http://thenewcode.com/968/A-CSS-Object-Fit-Gallery*/

@keyframes captionfade {
  from { opacity: 0; }
  to { opacity: 1; }
}

body { 
  color: #444; 
  font-family: Avenir, sans-serif; 
}

div#o-gallery { 
  
}

div#o-gallery figure { 
    transition: 1s; 
  
}

div#o-gallery img { 
    transition: 1s;
	font-size: 0;
}

div#o-gallery figure:hover {  }

div#o-gallery figcaption { 
    
}

div#o-gallery figure:hover img { 
     
}

div#o-gallery figure:hover figcaption { 
    
}

div#o-gallery figure:nth-child(2) {  }

div#o-gallery figure:nth-child(2) figcaption {  }

div#o-gallery figure:last-child {  }

div#o-gallery figure:last-child figcaption {  }

@media all and (max-width: 600px) {
    
    div#o-gallery {  }
	
    div#o-gallery figcaption { 
        
    }

    div#o-gallery figure {  }
	
    div#o-gallery img { 
         
    }

    div#o-gallery figure:nth-child(2) figcaption, div#o-gallery figure:last-child figcaption  {
         
    }

    div#o-gallery figure:last-child figcaption {  }
    
}

@media all and (max-width: 400px) {
    
    div#o-gallery figure:hover {  }
    
    div#o-gallery figcaption, div#o-gallery figure:nth-child(2) figcaption, div#o-gallery figure:last-child figcaption { 
         
    }

    div#o-gallery figure:nth-child(2) figcaption {  }
    
    div#o-gallery figure:nth-child(3) figcaption {  }
    
    div#o-gallery figure:nth-child(2):hover, div#o-gallery figure:nth-child(3):hover { 
        
    }
    
}

