:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.arrowunderline {
    list-style-type: none;
    margin: 2em 0 0 0;
    padding: 0;
    text-align: center;
    /* change to orient the menu accordingly */
    font: bold 16px Georgia;
}

ul.arrowunderline li {
    display: inline-block;
    margin-right: 25px;
}

ul.arrowunderline li a {
	transition: border-bottom 300ms;
	text-decoration: none;
    position: relative;
    color: black;
	border-bottom: 3px solid transparent;
    padding-bottom: 8px;
    /*spacing between each menu item and arrow underline beneath it */
}

ul.arrowunderline li a:hover {
    border-bottom: 3px solid purple;
	/* or box-shadow: 0 3px 0 purple; but if so remove the transparent border above */
	
}

ul.arrowunderline li a:hover:after {
    /* use CSS generated content to add arrow to the menu */
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: 0;
    /* value should match border-width below */
    border-width: 5px;
    /* value should match margin-left above */
    border-style: solid;
    border-color: transparent transparent purple transparent;
    /* create up arrow */
}


