:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.arrowunderline {
    list-style-type: none;
    margin: 2em 0 0 0;
    padding: 0;
    text-align: center;
    font: bold 16px Georgia;
}

ul.arrowunderline li {
    
}

ul.arrowunderline li a {
    transition: border-bottom 300ms;
    text-decoration: none;
    
    /*spacing between each menu item and arrow underline beneath it */
}

ul.arrowunderline li a:hover {
    
	   /* or box-shadow: 0 3px 0 purple; but if so remove the transparent border above */
}

ul.arrowunderline li a:hover:after {
    /* use CSS generated content to add arrow to the menu */
    content: "";
    
    /* value should match border-width below */
    
    /* value should match margin-left above */
    
    /* create up arrow */
}


