@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);

.snip1585 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    position: relative;
    background-color: #000;
    color: #fff;
    display: inline-block;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    text-align: center;
}

.snip1585 * {
    box-sizing: border-box;
    transition: all 0.45s ease;
}

.snip1585:before, .snip1585:after {
    content: '';
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
	
}

.snip1585 img {
    
}

.snip1585 figcaption {
    line-height: 1.1em;
    
}

.snip1585 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.snip1585 h3 span {
    display: block;
    font-weight: 700;
}

.snip1585:hover > img, .snip1585.hover > img {
    
}

.snip1585:hover:before, .snip1585.hover:before,
.snip1585:hover:after, .snip1585.hover:after {
    
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
    
}

/* Demo purposes only */
body {
    background-color: #212121;
    text-align: center;
}
