@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

:root {
    --orange: #c47135;
}

.snip1582 {
    font-family: 'BenchNine', Arial, sans-serif;
    font-weight: 700;
    display: inline-block;
    margin: .681em 1em; /* was 15px 22px */
    outline: none;
    padding: .545em 1.818em .454em; /* was 12px 40px 10px */
    cursor: pointer;
    
}

.snip1582:before,
.snip1582:after {
    content: "";
    transition: all 250ms;
    position: absolute;
    
}

.snip1582:before {
           
}

.snip1582:after {
         
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
       
}

/* Demo purposes only */
body {
    background-color: #212121;
    padding: 2.272em 0; /* was 50px */
    text-align: center; 
}

@media (max-width: 680px) {
    .snip1582 {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .snip1582 {
        font-size: 32px;
    }
}
