body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: black;
  background-image: linear-gradient(
    0deg,
    rgb(10, 10, 10),
    rgb(20, 20, 20),
    rgb(43, 59, 105)
  );  
}

svg {
  width: 90vmin;
  height: 90vmin;
  overflow: visible;
}