

body{
background: #D5D5D5;
font-family: museo-300;
font-size: 1.2rem; /* 19.2px */
text-align: center;
}

.tri, .flecha {
    display: inline-block;
    margin: .625em; /*15px;*/
}

.tri {
    width: 10.416em; /*250px;*/
    height:4.166em; /*100px;*/
    text-align: left;
    background: #fff;
    position: relative;
    padding: .625em; /*15px;*/
    box-sizing: border-box;
}

.tri::after {
    content:'';
    height: 0;
    width: 0;
    border-width: .8333em .8333em .8333em 0; /*20px 20px 20px 0;*/
    border-style: solid;
    border-color: rgba(255,255,255,0) rgba(255,255,255,1) rgba(255,255,255,0) rgba(255,255,255,0); /* only right side is visible */
    position: absolute;
    top: .625em; /*15px;*/
    left: -.8333em; /*-20px.. same as border width */
}

.flecha {
    position: relative;
    width: 0;
    height: 0;
    border-top: 3.75em solid transparent; /*90px*/
    border-right: 3.75em solid #FFC000; /*90px*/
    margin: -.8333em 4.583em 0; /**/
    transform: rotate(10deg);
}

.flecha::after {
    content: "";
    position: absolute;
    width: 5em; /*120px;*/
    height: 5em; /*120px;*/
    border: 0 solid transparent;
    border-top: 1.25em solid #FFC000; /*30px*/
    border-radius: 8.333em 0 0 0; /*200px*/
    top: -4.958em; /*-119px*/
    left: -4.083em; /*-98px*/
    transform: rotate(45deg);
}

.drop-shadow {
    filter: drop-shadow(0px 0px .4166em rgba(0,0,0,.5)); /*10px*/
}

.box-shadow {
    box-shadow: 0px 0px .4166em rgba(0,0,0,.5); /*10px*/
}

@media (min-width: 900px) {
    body {
        font-size: 2rem;
    }
}


@media (min-width: 1250px) {
    body {
        font-size: 2.8rem;
    }
}

