
body {
    font-family: Arial, sans-serif;
    font-size: 100%;
	
    width: 500px;
    margin: 0 auto;
    border: 3px solid blue;
}

section {
    padding: 20px;        
}

div {
    overflow: hidden;
}

h1 {
    margin: 0 0 .25em;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 500%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

h2 {
    color: blue;
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

/*** animation ***/
ul {
    animation: slideshow 8s infinite alternate;   
}

ul:hover {
    animation-play-state: paused;      
}

@keyframes slideshow {
    0%		{left:    0%;}
    10%		{left:    0%;}
    20%		{left: -100%;}
    30%		{left: -100%;}
    40%		{left: -200%;}
    50%		{left: -200%;}
    60%		{left: -300%;}
    70%		{left: -300%;}
    80%		{left: -400%;}
    90%		{left: -400%;}
    100%	{left: -400%;}
}

