
body {
	font-family: "crimson text";
	background: linear-gradient(to top right, dodgerblue, deepskyblue);
	color: cornsilk;
	height: 100vh;
	font-weight: bold;
	overflow: hidden;
	text-shadow: 0 0 1px grey;
}

figure {
	width: 98vw;
	max-width: 600px;
	height: 420px;
	margin: 60px auto auto auto;
}

figcaption {
	text-align: center;
	margin-top: 30px;
}

h1 {
	text-align: center;
	font-size: 14pt;
	margin-bottom: 0;
}

.screenreader-text {
	display: block;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.graph {
	
}

/* graph bars */
.graphBar {
	
}

.graphBar:nth-of-type(1) {
	
}

.graphBar:nth-of-type(2) {
	
}

.graphBar:nth-of-type(3) {
	
}

.graphBar:nth-of-type(4) {
	
}

.graphBar:nth-of-type(5) {
	
}

/* graph bar edges */
.graphBar::before,
.graphBar::after {
	display: block;
	content: "";
	
}

.graphBar::before {
	
}

.graphBar::after {
	
}

/* graph  labels */
.graphRowLabel {
	
}

.graphColumnLabel {
	
}

.graphRowLabel::after {
	display: inline-block;
	content: "\2000\2000\2014";
}

.graphRowLabel:nth-of-type(1)::after {
	content: "\2000\2014";
}

