
svg {
  display: block;
  margin: 0 auto;
  overflow: visible;
}
body {
  background: #333;
  text-align:center;
  color:#ccc; 
  font-family:Asap, 'sans-serif';
}

button {
  padding:6px;
  font-size:22px;
}
.nav{
   margin:30px;
   font-size:18px;
}

#end {
    
}

