
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

#shape_contain {
	box-sizing: border-box;
	
}

#circle {
    background: rgba(136, 239, 231, 0.3);	
}

#tri1 {
    
}

#tri2 {
    
}

#tri3 {
    
}

.strip {
    position: absolute;
	background: linear-gradient(0deg, rgba(164, 0, 217, 0) 0%, rgba(164, 0, 217, 0.3) 35%, rgba(255, 67, 134, 0.3) 65%, rgba(255, 67, 134, 0) 100%);
    left: 50%;	
}

#strip1 {
	
}

#strip2 {
	
}

#strip3 {
	
}

#leftside {
	
}

#rightside {
	
}

#topLeft {
	
}

#topLeft span {
	font-size: 1.8em;
}

#topRight {
	
}

#headline {
	font-family: 'Arvo', serif;
	
}













