html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

html {
  background: #D9D4E2;
}

.devicesSVG {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.horizonSVG {
  width: 100%;
  height: 100%;
  overflow: visible;
}

svg {
  visibility: hidden;
}