.gingerbread .body {
	fill: #cd803d;
}

.gingerbread .eye {
	fill: white;
}

.gingerbread .mouth {
	fill: none;
	stroke: white;
}

.gingerbread .limb {
	stroke: #cd803d;
  stroke-width: 35px;
	stroke-linecap: round; 
}

/* COMPLETE

.gingerbread .body { fill: #cd803d; }

.gingerbread .eye { fill: white; }

.gingerbread .mouth { fill: none; stroke: white; }

.gingerbread .limb { stroke: #cd803d; stroke-width: 35px; stroke-linecap: round; }

*/
