* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background: black;
}

header {
        
}

.cover {
    
}

.cover-date {
    
}

/* an 'unpositioned' element, such as a flex item can receive a z-index */
nav {
    background: #fff; 
    
}

.nav-closed {
    
}

.nav-closed ul {
    list-style-type: none;
    
}

.nav-open {
    
}

.clothing {
    
}

.clothing h2 {
    font-size: 50px;
}

.clothing ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

.nav-images {
    
}

.clothing ul li a {
    text-decoration: none;
    color: #916356;
}

.nav-images img {
    height: 250px;
}