body, html {
	height: 100%;
}

* {
	position: relative;
}

body {
	font-family: 'PT Sans Narrow', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
  --heading-size: 20vw;
}

h1 {
	padding: 0;
	font-size: var(--heading-size);
	line-height: 0.75;
  border: 1px solid red;
	display: flex;
}

h1 div{
	display: inline-block;
}

h1 div::before {
	position: absolute;
	top: 0;
	left: 0;
}

/* START

body, html {
	height: 100%;
}

* {
	position: relative;
}

body {
	font-family: 'PT Sans Narrow', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
  --heading-size: 20vw;
}

h1 {
	padding: 0;
	font-size: var(--heading-size);
	line-height: 0.75;
  border: 1px solid red;
	display: flex;
}

h1 div{
	display: inline-block;
}

h1 div::before {
	position: absolute;
	top: 0;
	left: 0;
}

*/