footer {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: -1;
    height: 50px;
    background-color: dodgerblue;
    color: white;
    text-shadow: 2px 2px black;
    padding: 5px 0;
    text-align: center;
}

body {
    background-image: linear-gradient(to top, transparent 60px, #fff 60px, #fff 0);
    font: 14pt 'Crimson Text';
    margin: 0;
}

html {
    background-color: #fff;
}

main {
    padding: 0px;
    width: 75vw;
    max-width: 600px;
    margin: auto;
}

h1 {
    color: dodgerblue;
}

