@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font: 1em/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.3em;
}

header {
  
}

header .content {
  
}

header h1, header h2 {
	margin: 0; 
}

header h2 {
  
}

header hgroup {
  
}

header .overlay {
  
}

img {
	margin-right: 20px;
}

.site {
  
}

.site a {
  color: #666;
  text-decoration: none;
}

.site a:hover {
  color: #222;
}

.site nav {
  
}

.site nav a {
    padding: 10px 30px;
    font-size: 1.3em;
    display: inline-block  
}

.site nav a:hover{
	background:#333;
    color:#fff
}