.wrapper {
	max-width: 500px;
	margin: 2rem auto;
	padding: 0 1rem;
}

.element {
	padding: 2rem 1rem;
	text-align: center;
	border: min(1vw, 10px) solid #468eef;
	border-radius: clamp(7px, 2vw, 20px);
	box-shadow: 0 3px clamp(5px, 4vw, 50px) 0 rgba(0, 0, 0, 0.2);
}

.element h2 {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 10px;
}

body {
	font-family: "Arial";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: hsla(214, max((10vw + 20%), 84%), 61%, 1);
}

* {
	box-sizing: border-box;
}

strong {
	font-weight: bold;
}
