article {
    max-width: 500px;
    margin: 2rem auto;
    font: 1.5rem/1.5 system-ui;
}

figure {
    padding: 0;
    margin: 0;
    position: relative;
}

figure img {
    max-width: 100%;
    display: block;
}

figure img.top {
    
}

figure figcaption {
    border: 5px solid #009688;
    color: #009688;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1;
    padding: 0.25rem;
    text-align: center;
    
    
}

figure figcaption strong {
    display: block;
}

