* {
    box-sizing: border-box;
}

html {
    font-family: Georgia, serif;
    font-size: 18px;
}

body {
    margin-bottom: 3rem;
}

h1 {
    
}

ul {
    
}

li {
  list-style-type: none;
}

img {
    
}


