*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.wrapper {
  
}

.wrapper h3 {
    font-family: 'Source Sans Pro', Tahoma, sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.4;
    box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.8);
    text-shadow: 0px 1px 0px white;
}

.wrapper h3:after {
    display: block;
    content: "";
    position: absolute;
    box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8);
}

.side-arrow {
	position: relative;
	
}

.side-arrow:after {
    display: block;
    content: "";
    position: absolute;
    box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8);
	
}

@media (min-width: 850px) {
    
    body {
        
    }
    
}

