
html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Luna";
    color: red;
    margin: 0;
    padding: 0;
    
}

header {
    box-sizing: border-box;
    
}

header h1 {
      
}

header::before {
    position: absolute;
    content: "";
	background: url('https://unsplash.it/800/450?image=1011') no-repeat 50% 50% / cover;
}

header * {
    font-weight: 700;
    letter-spacing: .2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

