@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);

figure.snip0021 {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 10px 1%;
    
    
}

figure.snip0021 * {
    box-sizing: border-box;
}

figure.snip0021 img {
	
}

figure.snip0021 figcaption {
    
}

figure.snip0021 figcaption > div {
    
}

figure.snip0021 figcaption::before {
    content: '';
    transition: all 0.4s;
    
}

figure.snip0021 h2,
figure.snip0021 p {
    transition: opacity 0.45s, transform 0.45s;
    
}

figure.snip0021 h2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, transparent 60%, rgba(0, 0, 0, 0.6) 100%);
    
}

figure.snip0021 h2 span {
    font-weight: 800;
}

figure.snip0021 p {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, transparent 40%, rgba(0, 0, 0, 0.1) 100%);
    
}

figure.snip0021 .curl {
    background: linear-gradient(135deg, #ffffff, #f3f3f3 20%, #cccccc 38%, #bbbbbb 44%, #aaaaaa 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.4));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
    
}

figure.snip0021 .curl:before,
figure.snip0021 .curl:after {
    content: '';
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
    
}

figure.snip0021 .curl:after {
    
}

figure.snip0021:hover img,
figure.snip0021.hover img {
    
}

figure.snip0021:hover figcaption h2,
figure.snip0021.hover figcaption h2,
figure.snip0021:hover figcaption p,
figure.snip0021.hover figcaption p {
    
}

figure.snip0021:hover figcaption::before,
figure.snip0021.hover figcaption::before {
    
}

figure.snip0021:hover figcaption .curl,
figure.snip0021.hover figcaption .curl {
    
}
