:root {
    box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  position: relative;
}

.mySlides {
    display: none;
    transition: 500ms;
}

.mySlides img {
    width: 100%;
}

.prev, .next {
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  top: 34%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row {
    display: flex;
}

.row img {
    height: 100%;
    object-fit: cover;
}

.demo {
  opacity: 0.6;
    cursor: pointer;
}

.active, .demo:hover {
  opacity: 1;
}

.active {
    pointer-events: none;
}



