body { 
    background: #121113;
    text-align: center;
    padding-top: 2rem; 
}

figure#zoom-gallery {
   
}

figure#zoom-gallery img { 
    transition: .7s all ease-in-out;
	box-shadow: 0 0 5px 0 #000; 
} 

label { 
    font-family: Futura, sans-serif;
    color: #fff;
}

label:hover { 
     
}

input[type=radio] {  }

input#japan:checked ~ figure img.japan,
input#us:checked ~ figure img.us,
input#france:checked ~ figure img.france { 
    box-shadow: 0 0 10px 0 #000; 
} 

input#japan:checked ~ figure img:not(.japan),
input#us:checked ~ figure img:not(.us),
input#france:checked ~ figure img:not(.france) { 
	box-shadow: 0 0 2px 0 #000;
}