body, html{
	   font-size: 16px;
    font-family: 'Lato', sans-serif;
	   font-weight: 400;
    
    
}

.pimg1, .pimg2, .pimg3{
	   position: relative;
    opacity: .7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* this is used in the 1st and last div */
.pimg1 {
  
}

.pimg2 {
  
}

.pimg3 {
  
}

.section {
  
}

.section-light {
  
}

.section-dark {
  
}

.ptext {
  
}

.ptext .border {
  
}

.ptext .border.trans {
  
}

@media(max-width:568px) {
  .pimg1, .pimg2, .pimg3 {
    
  }
}
