
* {
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(to right, #debb28 60%, #1a84c6 60%);
    
}

body {
    font: 14px/1.3 'Segoe UI', Arial, sans-serif;
    
}

a, a:visited {
    text-decoration: none;
    outline: none;
    color: #54a6de;
}

#impress .step {
    transform: opacity 1s;
}

#impress .step.active {
    
}

#impress h2 {
    font: bold 39px/1.5 'PT Sans Narrow', sans-serif; 
    color: #444648;
    
}

#impress p {
    font: bold 18px/1.3 'Open Sans', sans-serif; 
    color: #27333f;
    
}

#impress img {
    
}

.arrow {
    background: url(img/arrow.jpg) no-repeat;
    transition: opacity 300ms;
}

.arrow:hover {
    opacity: 1;
}

#arrowLeft {
    
}

#arrowRight {
    
}

#impress #intro {
    
}

#intro h2 {
    
}

#intro p {
    font-size: 22px;
    
    
}

#intro img {
    
}

#impress #simplicity {
    
}

#simplicity h2 {
    font-size: 30px;
}

#simplicity p {
    
}


#simplicity img {
    
}


#impress #connect {
    
}

#connect h2 {
    
}

#connect p {
    
}

#connect img {
    
}

#impress #upload {
    
}

#upload h2 {
      
}

#upload p {
    
}

#upload img {
    
}

#impress #music {
    
}

#music h2 {
    font-size: 38px;
}

#music p {
    font-size: 15px;

}

#music img {
    
}














