@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

figure.snip1091 {
	box-shadow: 0 0 .312em rgba(0, 0, 0, 0.85); /*was 5px*/
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    
}

figure.snip1091 * {
    transition: all 0.35s ease-in-out;
}

figure.snip1091 img {
    
}

figure.snip1091 figcaption {
    
}

figure.snip1091 figcaption h2 {
	letter-spacing: -1px;
    color: #fff;
    text-transform: uppercase;
    padding: .625em 0; /*was 10px*/
}

figure.snip1091 figcaption h2 span {    
    font-weight: 300;
}

figure.snip1091 figcaption:before,
figure.snip1091 figcaption:after {
    content: "";
    
}

figure.snip1091 figcaption:before {
    
}

figure.snip1091 figcaption:after {
    
}

figure.snip1091.red {
    
}

figure.snip1091.green {
    
}

figure.snip1091.navy {
    
}

figure.snip1091:hover img,
figure.snip1091.hover img {
    
}

figure.snip1091:hover figcaption,
figure.snip1091.hover figcaption {
    
}

figure.snip1091.navy:hover figcaption {
    
}

figure.snip1091:hover figcaption:before,
figure.snip1091.hover figcaption:before,
figure.snip1091:hover figcaption:after,
figure.snip1091.hover figcaption:after {
    
}

/* Demo purposes only */
body {    
    
}

@media (max-width: 680px) {
    body {
       font-size: 12px; 
    }
}

@media (min-width: 1100px) {
    body {
       font-size: 24px; 
    }
}