@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

body {
    
}

.snip1334 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: left;
    background-color: #fff;
    line-height: 1.4em;
}

.snip1334 * {
    box-sizing: border-box;
    transition: all 0.35s ease-out;
}

.snip1334 img {
    transition: all 0.8s ease-out;
    max-width: 100%;
    display: block;
}

.snip1334:before {
    transition: all 300ms ease-out 300ms;
    position: absolute;
    content: '';
    
    
}

.snip1334 figcaption {
    
}

.snip1334 h2 {
    font-family: 'Julius Sans One', Arial, sans-serif;
}

.snip1334 p {
    
}

.snip1334 h2, .snip1334 p {
    
}

.snip1334:hover:before {
    
}

.snip1334:hover figcaption h2,
.snip1334:hover figcaption p {
    
}

.snip1334:hover figcaption h2 {
    
}

.snip1334:hover figcaption p {
    
}

/* Demo purposes only */
body {
    background-color: #212121;
}
