body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: black;
}

svg {
  width: 90vmin;
  height: 90vmin;
  overflow: visible;
}