
:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #709b90;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    
}

header,
nav {
    
}

.main {
    
}

.sidebar-top {
    
}

.sidebar-bottom {
    
    
}

.tile {
    
}

.tile > :first-child {
    
}

.tile * + * {
    
}

.page-heading {
    
}

.site-nav {
    background-color: #5f4b44;
    list-style-type: none;
    
}

.site-nav > li {
    
}

.site-nav > li > a {
    text-decoration: none;
    
}

.site-nav > li + li {
    
}

.site-nav > .nav-right {
    
}

.login-form h3 {
    
}

.login-form p {
    
}

.login-form input:not([type=checkbox]):not([type=radio]) {
    
}

.login-form label {
    
}


.login-form button {
    
}

.centered {
    
}

.cost {
    
}

.cost > span {
    
}

.cost-currency {
    
}

.cost-dollars {
    
}

.cost-cents {
    
}

.cta-button {
    text-decoration: none;
    
}