* {
	box-sizing:border-box;
}

html, body {
	height:100%;
	overflow:hidden;
}

body {
	background:#1d1d1d;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}

.wrapper {
	width:598px;
	height:342px;
	overflow:hidden;
}

#progressSlider{
	margin-top:20px;
	width:300px;
}