.container--tabs {
    margin: 2rem;  
}

.container--tabs .nav-tabs {
    list-style-type: none;
    display: flex;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.container--tabs .nav-tabs > li {
    margin-bottom: -1px;
}

.container--tabs .nav-tabs > li > a {
    display: block;
    margin-right: 2px;
    line-height: 1.4285;
    padding: 10px;
    border: 1px solid transparent;
}

.container--tabs .nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;      
}

.container--tabs .nav-tabs > li.active > a,
.container--tabs .nav-tabs > li.active > a:hover,
.container--tabs .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.container--tabs .tab-content > .tab-pane {
    display: none; 
}

.container--tabs .tab-content > .tab-pane.active {
    display: block;
    padding: 2.5% 3.5%;
    background-color: #efefef;
}