* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #555;
  font-size: 0.95em;
  background-color: #eee;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: white;
}

.element { /* empty div */
  width: 40%;
  height: 600px;
  float: left;
  background-image: url(http://tympanus.net/codrops-playground/assets/images/cssref/properties/clip-path/cupcakes.jpg);
  background-size: cover;
  background-position: -100px 0;
  background-repeat: no-repeat;
  clip-path: ellipse(90% 70% at 0% 50%);
  shape-outside: ellipse(90% 70% at 0% 50%);
  shape-margin: 2em;
}

p,
h1,
h3 {
  padding: 1em 0;
}

p {
  margin-right: 4em;
}

ul {
  list-style: circle;
}

.clear {
  clear: both;
}