html {
    background-color: #333;
}

header,
footer {
    
}

main {
    
}

footer {
    
}

body,
main {
    
}

body {
    
}

nav {
    
}

nav a {
    text-decoration: none;
    
}

main {
    
}

div {
    box-sizing: border-box;
}

img {
    
}