.image-carousel {
    
}

.inner {
	transition: left 250ms ease-out;
    
}

.bubbles {
    
}

.bubble {
   
}

.bubble:hover {
    
}

.bubble.active {
    
}

.next::after,
.prev::after {
	box-sizing: border-box;
    content: '>';
	font-weight: bold;
    font-family: sans-serif;
    transition: opacity 0.1s linear;
}

.next:hover::after,
.prev:hover::after {
    
}

.prev::after {
    content: '<';
    
}