*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

body {
	margin: 0;
	--color-text: #111;
	--color-bg: #f8ecde;
	--color-link: #b19e7f;
	--color-link-hover: #000;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sofia-pro, sans-serif;
}

/* Grainy texture animation https://css-tricks.com/snippets/css/animated-grainy-texture/ */

main::before {
	
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

.menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	counter-reset: menu;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
}

.menu__item {
	
}

.menu__item-link {
	
}

.menu__item-link::before {
	
}

.menu__item-link:hover {
	
}

.menu__item-img {
  
}

.menu__item-link:hover + .menu__item-img {
	
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
  
}

.marquee__inner {
  
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	
}

.marquee span {
	text-align: center;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-weight: 900;
	line-height: 1.15;
}

.marquee span {
	font-style: italic;
}

@keyframes marquee {
	0% {
		
	}

	100% {
		
	}
}

