$browser-context: 16; // Default
$color-brand: #4a90e2;

body {
	font-family: 'Arial';
}

.contain {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}

.range {
  padding-top: 2em;
  margin-bottom: 2em;
  
  label {
    display: block;
    margin-bottom: 10px;
  }
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/* Sass function credit:
https://css-tricks.com/snippets/sass/px-to-em-functions/ */

/*********************************/
/*** Demo Code ***/
/*********************************/

.member {
	position: relative;
	background: #ececec;
	padding: 2rem;
	min-height: em(110);
	padding-right: em(130);
	font-size: 1.2em;
	margin-bottom: 2em;

	img {
		position: absolute;
		right: em(20);
		top: em(20);
		width: em(100);
		height: em(100);
    background: #fff;
    padding: 0.25em;
    object-fit: cover;
	}
	
	p,
	h2 {
		margin: 0;
	}

	h2 {
		font-size: 1.2rem;
	}

	p {
		font-size: 1rem;
    line-height: 1.45;
	}
}