body {
    margin: 0;
}

article {
      
}

.hero {
      
}

.content {
      
}

.content__header {
          
}

.content__header h2 {
    font-family: sans-serif;
  
}

.content__header span {
    font-family: sans-serif;
}

.content__copy {
      
}

h1 {
      
}

h1:after {
          
}

p {
      
}

p:first-of-type {
      
}

p:nth-of-type(1)::first-letter {
      
}

h3 {
  font-family: sans-serif;
  
}

h3 + p {
      
}
