
.story {
    padding: .6875em;
    background-color: #eee;
}

.story img {
    width: 100%;
}

.ad {
    padding: .6875em;
    display: flex;
    background-color: #8e3339;
    color: #fff;
}

.ad h3 a {
    color: inherit;
}

.ad h3 {
    margin: auto;
}

/* grid styling */
.grid-b {
    display: grid;
    grid-template-columns: 1fr;
	grid-gap: .6875em;
    grid-template-areas: 
        "hd" 
        "st1" 
        "." 
        "st2" 
        ".";
}

.grid-b .subcategory-header {
    padding: .6875em;
    grid-area: hd;
	background-color: rgba(218, 165, 32, .7);
}

.grid-b .story:nth-of-type(1) {
    grid-area: st1;
}

.grid-b .story:nth-of-type(2) {
    grid-area: st2;
}

@media only screen and (min-width: 37.5em) {
    .grid-b {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "hd  hd"
            "st1 ..."
            "... st2";
    }
}

@media only screen and (min-width: 55em) {
    .grid-b {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "hd  hd  hd"
            "st1 .. st2"
            "st1 .. st2";
    }
}

@media only screen and (min-width: 70em) {
    .grid-b {
        grid-template-columns: 20% 1fr 1fr 1fr;
        grid-template-areas: 
            "hd st1 . st2"
            "hd st1 . st2";
    }
}


