body {
	font-family:Arial, sans-serif;
}
* {
	box-sizing:border-box;
}
.box {
	font-size:24px;
	position:absolute;
	width:80px;
	height:80px;
	background:orange;
	border:2px solid black;
	padding:10px;
}

.boxes {
	height:220px;
	width:100%;
}

.directions {
	border:1px solid #ccc;
	padding:20px;
}