html {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #444;
}

*, *::after, *::before {
    box-sizing: inherit;
    outline: none;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

header h1 {
    position: absolute;
    bottom: -51px;
    left: -4px;
    color: white;
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
    z-index: 9;
}

/* this is not needed? */
header .mountains {
    position: absolute;
    display: block;
    bottom: -5px;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

header .mountains > * {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 105%;
}

header .mountains .one {
    background-image: url('../img/mountains-1.svg');
    z-index: 0;
}

header .mountains .two {
    background-image: url('../img/mountains-2.svg');
    z-index: -1;
}

header .mountains .three {
    background-image: url('../img/mountains-3.svg');
    z-index: -2;
}

header .mountains .four {
    background-image: url('../img/mountains-4.svg');
    z-index: -3;
}

header .mountains .five {
    background-image: url('../img/mountains-5.svg');
    z-index: -4;
}

section {
    padding: 50px 0;
}
