
.item--css-clip-path img {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.item--svg-clip-path-svg image,
.item--svg-clip-path-html img {
  clip-path: url(#clipping);
}

.item--svg-mask-html img,
.item--svg-mask-svg image {
  mask: url(#masking);
}

.item--css-background-clip .demo {
  width: 200px;
  height: 200px;
  background: url(flower.jpg) no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.item--svg-fill text {
  fill: url(#pattern);
}

.demo, #clipping, #masking text {
  font: bold italic 7em/1.5 Georgia;
}

/* Common 
------------------------------------------- */
body {
  font: 12px/1.4 "Trebuchet MS", Arial, sans-serif;
}

h3 {
    font-size: 30px;
}

.svg-defs {
  position: absolute;
  width: 0;
  height: 0;
}

.wrapper {
  width: 90%;
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 0;
}

.item {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 2em;
  padding-right: 3em;
  border-bottom: 1px solid #DDD;
}

.item:after {
  content: '';
  display: table;
  width: 100%;
}

.demo {
  position: relative;
  float: left;
  margin-right: 30px;
}

.demo:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(flower.jpg) no-repeat;
  opacity: 0;
  transition: .7s;
}

.item:hover .demo:before {
  opacity: .4;
}

.text {
  padding-left: 230px;
}

