html,
body {
  height: 100%;
}

body {
  font-size: 100%;
  line-height: 1.5;
  font-family: "Roboto Slab", sans-serif;
  background: #1d1d45;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

img {
  
}

a {
  text-decoration: none;
}

.container {
  
}

.picture-box {
  
}

h1 {
  font-family: Bevan, sans-serif;
  
}

h1 span {
  
}

.byline {
  
}

.byline > p:first-child {
  
}

.byline,
.main-article {
  
}

.main-article p {
  
}

.main-article section:first-child p:first-child {
  
}

.main-article section:first-child p:first-child:first-letter {
  
}

@media only screen and (min-width: 900px) {
  .container {
    
  }
    
  .picture-box,
  .top-matter {
    
  }
    
  .picture-box {
    
  }
    
  .top-matter {
    
  }
    
  .title-box {
    
  }
    
  .title-box h1 {
    
  }
    
  .byline {
    
  }
    
  .byline p {
    
  }
    
  .main-article {
    
  }
    
  section {
    
  }
}

@media only screen and (min-width: 1200px) {
  .main-article p {
    
  }
    
  .main-article section:first-child p:first-child:first-letter {
    
  }
    
}

.byline p {
  
}
