@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

figure.snip0077 {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 10px 1%;
    position: relative;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
}

figure.snip0077 * {
    box-sizing: padding-box;
}

figure.snip0077 img {
    transition: all 0.5s;
    width: 100%;
}

figure.snip0077 figcaption {
    
}

figure.snip0077 figcaption h2 {
    position: relative;
    font-weight: 400;
    text-transform: uppercase;  
}

figure.snip0077 figcaption h2 span {
    font-weight: 800;
}

figure.snip0077 figcaption p {
    font-size: .9em;
    font-weight: 500;
    opacity: .65;
}

figure.snip0077 figcaption h2,
figure.snip0077 figcaption p {
    transition: all 0.5s linear;
    margin: 0;
    
}

figure.snip0077:before,
figure.snip0077:after {
    transition: opacity 0.5s, transform 0.5s;
    content: '';
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.15);
    
}

figure.snip0077:before {
    
}

figure.snip0077:after {
    
}

figure.snip0077.blue {
    background: #0a212f;
}

figure.snip0077.red {
    background: #36100c;
}

figure.snip0077.yellow {
    background: #562e0a;
}

figure.snip0077:hover img,
figure.snip0077.hover img {
    
}

figure.snip0077:hover figcaption h2,
figure.snip0077.hover figcaption h2,
figure.snip0077:hover figcaption p,
figure.snip0077.hover figcaption p {
    
}

figure.snip0077:hover:before,
figure.snip0077.hover:before,
figure.snip0077:hover:after,
figure.snip0077.hover:after {
    
}
