
body {
    background: #000;   
}

div#planets {
    font-size: 0;
    overflow: hidden;
}

div#planets img {
    transition: .4s all;
    float: left;
    width: 33.333%;
    opacity: 0;
    transform: scale(0);
}

div#planets img.wax {
    opacity: 1;
    transform: scale(1);
}

/* COMPLETE

body {
  background: #000;
}

div#planets {
  font-size: 0; // One white-space solution is to set a font-size of 0 on the parent to the inline block elements.
  overflow: hidden;
}

div#planets img {
  transition: .4s all;
  float: left;
  width: 33.33%;
  opacity: 0;
  transform: scale(0);
}
div#planets img.wax {
  opacity: 1;
  transform: scale(1);
}

*/