* {position:relative;}

body, html {
	height:100%;
}

body {
	overflow:hidden;
	display:flex;
	justify-content:center;
	align-items:center;
	background:#1d1d1d;
}

.wrapper {
	width:100px;
	height:100px;
}

.btn {
	cursor:pointer;
	position:absolute;
	width:100px;
	height:100px;
	background:#06c;
	border-radius:50%;
}

.circle {
	width:10px;
	height:10px;
	border-radius:50%;
	background:orange;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}

.circlesHolder {
	left:50px;
	top:50px;
	position:absolute;
}