* { box-sizing: border-box; }

body { font-family: sans-serif; }

.scene {
  border: 1px solid #CCC;
  
}

.cube {
  transition: transform 1s;
  
}

.cube.show-front  {  }
.cube.show-right  {  }
.cube.show-back   {  }
.cube.show-left   {  }
.cube.show-top    {  }
.cube.show-bottom {  }

.cube__face {
  border: 2px solid black;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 200px;
}

/* these classes will be toggled with JS */
.cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  {  }
.cube__face--right  {  }
.cube__face--back   {  }
.cube__face--left   {  }
.cube__face--top    {  }
.cube__face--bottom {  }

label { margin-right: 10px; }


/* START

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.scene {
  border: 1px solid #CCC;
  
}

.cube {
  transition: transform 1s;
  
}

.cube.show-front  {  }
.cube.show-right  {  }
.cube.show-back   {  }
.cube.show-left   {  }
.cube.show-top    {  }
.cube.show-bottom {  }

.cube__face {
  border: 2px solid black;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 200px;
}

.cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  {  }
.cube__face--right  {  }
.cube__face--back   {  }
.cube__face--left   {  }
.cube__face--top    {  }
.cube__face--bottom {  }

label { margin-right: 10px; }

*/