@import url(https://fonts.googleapis.com/css?family=Raleway:900,600,500,800,700);
body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

img {
   
}

h1 {
   
}

/*


img {
  max-width: 100%;
}

h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-85%); 
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 10em;
  letter-spacing: -3px;
  padding-left: .2em;
  mix-blend-mode: difference;
}

*/


