html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Kanit, sans-serif;
	color:#cecece;
	overflow:hidden;
	text-align:center;
}

.dials {
	width: 100%;
	display: flex;
	justify-content: center;
}

.dial {
	width: 250px;
}

img, svg {
	width:250px;
	height:250px;
	border:1px solid grey;
}

img {
	margin-right: 10vw;
}

#hitArea {
	/* opacity: 0; */
}

.left {
	margin-right:10vw;
}

h2, h3 {
	font-weight: normal;
}


body {
	overflow: hidden;
	background: #222
}